h1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 1em;
}

.page-text {
    font-size: 1.3em;
}


h3 {
    text-align: center;
}

.page-text p{
    margin-inline: 2em;
}

.header-rev {
    font-weight: bold;
}


.review {
    display: flex;
    justify-content: center;
}

.rev-comp {
    text-align: center;
}

.form-label {
    font-size: 1.3em;
    margin-bottom: 0.7em;
}

textarea {
    display: block;
    width: 20em;
    height: 7.6em;
    resize: none;
}

.review p {
    margin-top: 2em;
}


.flash {
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 0.5em;
    display: inline-block;
    text-align: center;
}

.flash.error {
    border-color: #A46268;
    background-color: #F8D7DA;
    color: #A46268;
}

.flash.success {
    border-color: #2C693B;
    background-color: #D2EBD8;
    color: #2C693B;
}

.btn {
    display: inline;
    color: rgb(59, 58, 58);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(59, 58, 58);
}


.btn:hover {
    color: aliceblue;
    background-color: rgb(59, 58, 58);
}

@media (max-width: 1000px) {
    .form-label {
        margin-bottom: 0.5em;
        margin-top: 3em;
        text-align: center;
    }

    textarea {

        width: 18em;
        height: 7.6em;
    }

    .header-rev{
        display: none;
    }

    .text-rev {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .page-text {
        font-size: 1em;
    }

    .form-label {
        font-size: 1em;
        margin-bottom: 0.5em;
        margin-top: 3em;
        text-align: center;
    }

    textarea {
        width: 18em;
        height: 7.6em;
    }
}