.all-info {
    font-size: 1.3em;
    padding-inline: 0;
}

.statistics,
.personal-data,
.logout{
    max-width: 80%; /* Устанавливаем максимальную ширину картинки в 100% от родительского элемента */
    height: auto; /* Автоматически рассчитываем высоту, чтобы сохранить пропорции картинки */
    display: block; /* Убираем возможные пробелы под картинкой */
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

h3 {
    font-weight: 600;
    display: inline-block;
    min-width: 200px;
    border-bottom: 4px solid rgb(22, 94, 133);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


.profile {
    padding-top: 1em;
    padding-bottom: 0.7em;
    display: flex;
    justify-content: space-evenly;
}

.cont-st {
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding-inline: 1em;
}

.stats,
.pers-data {
    display: block;
    text-align: left;
}

.stats span,
.pers-data span {
    font-weight: 700;
}

.update-persdata {
    text-align: center;
    padding-bottom: 1em;
}

.btn-update{
    background-color: orange;
    border-color: orange;
    border-width: 1.5px;
    color: white;
}

.btn-update:hover {
    color: orange;
    border-color: orange;
    border-width: 1.5px;
    background-color: rgb(224, 223, 223);
}


.lo-cont{
    margin-top: 1em;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.btn-logout{
    margin-top: 1em;
    background-color: rgb(208, 22, 22);
    border-color: rgb(208, 22, 22);
    border-width: 1.5px;
    color: white;
}

.btn-logout:hover {
    color: rgb(208, 22, 22);
    border-color: rgb(208, 22, 22);
    border-width: 1.5px;
    background-color: rgb(224, 223, 223);
}


@media (max-width: 1200px) {   
    .cont-st {
        gap: 50px;
    }
}


@media (max-width: 930px) {   
    .cont-st {
        display: block;
        text-align: center;
    }
}
