{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/index.css">
{% endblock %}

{% block body %}
<div class="content">
  <div class="name-header">
    <h1>WordGame</h1>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-8 matches">
        <div id="carouselExampleDark" class="carousel carousel-dark slide shadow">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          
          <div class="carousel-inner">
            
            <div class="carousel-item active" data-bs-interval="10000">
              <img class="ind-img" src="/static/img/game-view.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="ind-img" src="/static/img/game-view-1.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img class="ind-img" src="/static/img/game-view-2.webp" class="d-block w-100" alt="...">           
            </div>          
          
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-lg-4 index-text">
        <div class="slider-desc">
          <p>Welcome to the first WordGame. The essence of the game is simple - to guess the word in the least number of
            tries. You can connect statistics and keep track of your progress. Before playing, don't forget to
            familiarize yourself with the rules :)</p>
          <div class="btn-rules ">
            <p><a href="/rules">REED RULES</a></p>
            <!-- <button class="btn-grad">REED RULES</button> -->
            <!-- <a class="btn-lk shadow-lg" href="/games"><button class="glow-on-hover" type="button">Play Games</button></a> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}