{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/grid.css">
{% endblock %}

{% block body %}






<div class="personal-data">
    <h1>Rules</h1>
    <div class="page-grid">
        <div class="cont-gm">

            
            <div class="prd-card">
                <div>
                    <div class="card shadow">
                        <img loading="lazy" src="/static/img/game-view-1.webp" class="card-img-top c-img" alt="word game">
                        <div class="card-body">
                            <h5 class="card-title">Wordle</h5>
                            <p class="card-text">Wordle is a fantastic game where you can test your strength in vocabulary and try to guess all the words.</p>
                            <div class="btn-for-rules">
                                <a href="/wordle-rules" class="btn btn-r-rules">Read Rules</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




{% endblock %}