{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/registration.css">
{% endblock %}

{% block body %}
  <div class="registration-user sign-up">
    <h1 >Sign Up</h1>
    <form action="/sign-up" method="post">
      {{ form.hidden_tag() }}
      <p>{{ form.name(class="name-registration", placeholder="name", minlength="4") }}</p>
      <p>{{ form.email(class="name-registration", placeholder="email") }}</p>
      <p>{{ form.psw(class="name-registration", placeholder="password", minlength="5") }}</p>
      <p>{{ form.psw_confirm(class="name-registration", placeholder="confirm password", minlength="5") }}</p>
      <p>{% for category, msg in get_flashed_messages(True) %}</p>
      <div class="flash {{category}}">{{msg}}</div>
      {% endfor %}

      <p>{{ form.submit(class='btn', value='Submit') }}</p>
      <p>Do you have an account? <a href="/login">Log In</a></p>
    </form>
  </div>
{% endblock %}


