{% extends 'registration.html' %}


{% block central %}
<div class="col-lg-4 col-md-4">
    <div class="registration-user log-out">
    <h1>Log Out</h1>
    <p>Are you sure to log out of your account?</p>
        <form method="POST">
            <div class="row confirmation">
                <div class="col-lg-6 col-md-6 logout">
                    <input class="success" name='logout' value='Yes' type="submit">
                </div>
                <div class="col-lg-6 col-md-6 logout">
                    <input class="cancell" name='logout' value='No' type="submit">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}