.all-info {
    font-size: 1.3em;
}

h3 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.info span{
    margin-left: 0.5em;
    font-weight: bold;
}

.profile {
    display: flex;
    justify-content: space-evenly;
}

.stats, 
.pers-data{
    display: block;
    text-align: left;
}

.change-name,
.change-email {
    text-align: center;
    font-size: 0.8em;
}


.logout {
    text-align: center;
}

.logout a{
    font-size: 0.8em;
    padding: 4px;
    padding-inline: 20px;
    margin-left: 10px;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: rgb(203, 11, 11);
    color: rgb(244, 244, 244);
    background-color: rgb(179, 27, 27);
}

.logout a:hover {
    color: rgb(208, 22, 22);
    background-color: rgb(224, 223, 223);
}


@media (max-width: 770px) {
    .container-fluid {
        font-size: 1em;
    }

    .info {
        display: flex;
        justify-content: center;
    }
    
    .profile {
        display: block;
        text-align: left;
    }

}

