body {
    background-image: url(/static/img/back-word.jpg);
    background-color: rgba(255, 0, 0, 0.3);
}


.registration-user{
    margin-top: 1.5em;
    border-style: solid;
    text-align: center;
    background-color: white;
    padding: 1em;
    margin-bottom: 2em;
}

.registration-user.login{
    margin-top: 3em;
}


.flash {
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 0.5em;
    display: inline-block;
    width: 190px;
    text-align: center;
}

.flash.error {
    border-color: #A46268;
    background-color: #F8D7DA;
    color: #A46268;
}

.flash.success {
    border-color: #2C693B;
    background-color: #D2EBD8;
    color: #2C693B;
}



.remember-me {
    display: inline-block;
    width: 190px;
    text-align: center;
    
}

.default-box {
    display: flex;
    justify-content: left;
}

.remember-me input{
    margin-left: 4px;
    transform:scale(1.3);
    opacity:0.9;
    cursor:pointer;
    margin-right: 0.5em;
    }


.btn {
    margin-top: 1em;
    display: inline;
    color: rgb(59, 58, 58);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(59, 58, 58);
}


.btn:hover {
    color: aliceblue;
    background-color: rgb(59, 58, 58);
}

/* LOG OUT */

.log-out {
    padding-bottom: 2em;
}

.logout {    
    display: flex;
    justify-content: space-evenly;
}

.confirmation input{
    display: inline;
    margin-top: 1em;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 5px;
}

.success {
    padding-inline: 23px;
    border-color: rgb(203, 11, 11);
    color: rgb(208, 22, 22);
    background-color: rgb(224, 223, 223);

}

.cancell {
    padding-inline: 25px;
    border-color: rgb(29, 206, 76);
    color: rgb(29, 206, 76);
    background-color: rgb(224, 223, 223);
}

.success:hover {
    color: rgb(244, 244, 244);
    background-color: rgb(179, 27, 27);
}

.cancell:hover {
    color: rgb(244, 244, 244);
    background-color: rgb(29, 206, 76);

}





/* ERRORS */



@media (min-width: 1440px) {
    .registration-user.login{
        margin-top: 13em;
    }
}

@media (max-width: 767.1px) {
    .registration-user{
        margin-inline:10em;
    }
}


@media (max-width: 576px) {
    .registration-user{
        margin-inline: 4em;
    }
}


@media (max-width: 375px) {
    .registration-user {
        margin-inline: 1em;
    }
}